/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-syllabus {
  .mat-expansion-panel-body {
      display: flex;
      flex-direction: row;
  }
}
