<form dir="rtl" (submit)="login()">
    <mat-form-field appearance="fill">
        <mat-label>שם מדריך</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [formControl]="selectedUserNameFormControl">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let name of filteredOptions" [value]="name">
                {{ name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-button type="submit" color="primary">כניסה</button>
</form>