<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{syllabus}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-student *ngFor="let student of studentsList" [student]="student"></app-student>
  </mat-expansion-panel>
</mat-accordion>
