<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{series}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-syllabus *ngFor="let syllabus of syllabusList" [syllabus]="syllabus"></app-syllabus>
  </mat-expansion-panel>
</mat-accordion>
