.mat-expansion-panel-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mat-button {
  border-style: solid;
  border-width: thin;
}

.student-card {
  display: flex;
  flex-direction: column;
}

.student-image  {
  width: 7%;
  height: auto;
}
