<mat-accordion>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{courseName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-series *ngFor="let series of seriesList" [series]="series"></app-series>
  </mat-expansion-panel>
</mat-accordion>
