<mat-toolbar color="primary" class="navbar">
  <div>{{siteTitle}}</div>
  <nav>
    <a *ngFor="let navbarButton of navbarButtons" class="link" [routerLink]="navbarButton.link" >{{navbarButton.title}}</a>
  </nav>
</mat-toolbar>

